################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SQLQueryGetAll.sql
/.vs/QuizzMotorsport/v15/Server/sqlite3/db.lock
